/* NOTAS */
    /* Border Radius Iguales */
    /* Paleta de color consistente */

/* HEADER */
.navbar-expand-lg {
    background-color: transparent;
    z-index: 9999;
}

.navbar-toggler-icon {
    filter: invert(1);
}

/* Estilos para el menú inicial con margen superior */
.collapse.navbar-collapse {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: top 0.3s ease, background-color 0.3s ease; /* Transición suave */
}

.collapse.navbar-collapse.scrolled {
    top: 0; 
    background-color: rgb(22 0 106);
}

.navbar-nav {
    justify-content: center; 
}

.navbar-toggler {
    position: fixed;
    top: 0; 
    right: 10px;
    z-index: 1100;
}

/* FONDO COLOR MENÚ SCROLL*/
.collapse.navbar-collapse {
    position: fixed;
    left: 0;
    right: 0;
    top: 1em;
    z-index: 1000;
    transition: background-color 0.6s ease; 
}

.collapse.navbar-collapse.scrolled {
    background-color: rgb(22 0 106);
}

.navbar-nav {
    justify-content: center; 
}

.navbar-toggler {
    position: fixed;
    top: 40px; 
    right: 10px;
    z-index: 1100;
}



/* video */
.video-header {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.video-header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
}

.btn{
    font-size: 80%;
}

.btn-outline-light{
    border-width: 0.9px; 
}

.rounded-btn {
    border-radius: 20px; 
    margin: 2em;
}

.gradient-btn {
    color: #f8f9fa; 
    border-color: #f8f9fa; 
    background-color: transparent; 
}

.gradient-btn:hover {
    background: linear-gradient(#150067, #3300ff); 
    color: #ffffff; 
    border-color: transparent; 
}

.logo {
    width: 100%; 
    height: auto; 
    max-height: 100vh;
    object-fit: contain; 
}

.logo-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header-text{
    color: white;
    font-size: 1em;
    text-align: center;
    margin: 1em;
}

.img-fluid{
    padding: 2em;
}

/* LO PRINCIPAL */

.card {
    position: relative;
    overflow: hidden; 
    border-radius: 20px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card img {
    width: 100%;
    height: auto;
}

.card:hover {
    transform: scale(1.05); 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.card-body {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    background: linear-gradient(transparent, #150067); 
    color: white;
    z-index: 1;
    transition: background 0.3s ease-in-out;
}

.card:hover .card-body {
    background: linear-gradient(transparent, #150067); 
}

/* POPUP */

.modal-content {
    background-color: #3300ff; 
    color: white; 
}

.btn-close {
    background-color: white; 
    color: #3300ff; 
    border-radius: 60%; 
    padding: 5px; 
}

.btn-close:hover {
    background-color: #3300ff;
    color: white; 
}

.btn-close:focus {
    box-shadow: none; 
}

/* CREADO PARA GENTE QUE MUEVE EL MUNDO */

/* .full-height {
    height: 100vh;
}
.half-width {
    width: 50%;
}

.image-container {
    position: relative;
}
.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#150067, #3300ff); 
    font-size: 3rem;
    line-height: 1;
}

.text-container p {
    display: flex;
    align-items: center;
    color: white; 
    font-size: 4rem;
    margin: 1em;
}
img, .gif {
    width: 100%;
    height: 100%;
    object-fit: cover;
} */


/* ABONOS */

.title {
    font-size: 3rem;
    color: #3300ff;
    font-weight: bold;
    text-align: center;
}
.subtitle {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: #150067;
    text-align: center;
}
.tickets {
    background: linear-gradient(#150067, #3300ff); 
    color: white;
    border-radius: 15px;
    padding: 2rem;
    margin: 10px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.btn-custom {
    background-color: transparent;
    border: 2px solid #150067;
    border-radius: 30px;
    padding: 10px 30px; /* Ajusta el espacio alrededor del texto */
    color: #150067;
    font-weight: bold;
    cursor: pointer;
    display: inline-block; /* Ocupa solo el espacio del contenido */
    transition: all 0.3s ease;
    text-align: center;
    text-decoration: none;
}

.btn-custom:hover {
    background-color: #1b1464;
    color: white;
}

/* ZETA RADIO */
#radio {
    text-align: center;
}

.video-radio-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#radio .video-radio {
    width: 100%;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#radio video {
    width: 100%;
    max-width: 100vw;
    height: auto;
    max-height: 60vh;
    object-fit: cover;
    display: block;
}

iframe{
    border-radius: 12px;
    position: absolute;
    z-index: 1000;
    display: flex;
}

/* Footer */

.footer {
    background-color: white;
    padding: 40px 0;
    color: #3300ff;
    text-align: center;
}

.footer-title {
    font-size: 10rem;
    font-weight: bold;
    color: #3300ff;
}

.social-icons img {
    width: 40px;
}

.social-icons a {
    color: #3300ff;
    font-size: 30px; 
    margin: 0 10px;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #2200aa;
}

.links-grid a {
    color: #3300ff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.links-grid a:hover {
    color: #2200aa;
}



/* NEWS */

#news .card {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

#news .card-img-left {
    width: 200px; 
    height: 225px; 
    object-fit: cover; 
    border-radius: 10px; 
}

#news .card-news {
    width: 60%; 
    padding: 15px;
}

#news .card-title {
    font-size: 1.5rem;
    color: #150067;
    margin-bottom: 10px;
}

#news .card-text {
    font-size: 1rem;
    color: #333;
}


.spotify {
    position: absolute;
    border-radius: 12px;
    width: 50%;
}

#experience {
    margin: none !important;
}

/* DERECHA A IZQUIERDA */

.gallery-container {
    overflow: hidden;
    width: 100%; 
}

.gallery {
    display: flex;
    gap: 10px; 
    animation: scrollRightToLeft 30s linear infinite; 
}

.gallery img {
    width: 200px; 
    height: auto; 
    object-fit: cover;
    border-radius: 8px; 
}

@keyframes scrollRightToLeft {
    from {
        transform: translateX(100%); 
    }
    to {
        transform: translateX(-100%);
    }
}

/* IZQUIERDA A DERECHA */

.gallery-container2 {
    overflow: hidden;
    width: 100%; 
    margin-top: 1em
}

.gallery2 {
    display: flex;
    gap: 10px; 
    animation: scrollLeftToRight 30s linear infinite; 
}

.gallery2 img {
    width: 200px; 
    height: auto; 
    object-fit: cover;
    border-radius: 8px; 
}

@keyframes scrollLeftToRight {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(100%); 
    }
}

/* FORMULARIO */

.container-form {
    max-width: 400px;
    margin: auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #3300ff;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #3300ff;
    border-radius: 30px;
}

input:focus {
    border-color: #3300ff;
    outline: none;
}

.submit-btn {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #3300ff;
    color: white;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
}

.submit-btn:hover {
    background-color: #2200aa;
}