body {
    background: linear-gradient(#150067, #3300ff);
    color: #f8f9fa; 
}

.header {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.logo-container img {
    width: 150px;
}

.title {
    font-size: 2.5rem;
    color: #333;
    text-align: center;
    margin-bottom: 10px;
}

.subtitle {
    text-align: center;
    color: #666;
    margin-bottom: 40px;
}

.card {
    border: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card-title {
    font-size: 1.3rem;
    color: #333;
    font-weight: bold;
}

.price {
    font-size: 1.2rem;
    color: #e91e63;
    margin: 10px 0;
}

.btn-custom {
    background-color: #e91e63;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-custom:hover {
    background-color: #d81b60;
}

/* Footer */

.footer {
    background-color: white;
    padding: 40px 0;
    color: #3300ff;
    text-align: center;
}

.footer-title {
    font-size: 10rem;
    font-weight: bold;
    color: #3300ff;
}

.social-icons img {
    width: 40px;
}

.social-icons a {
    color: #3300ff;
    font-size: 30px; 
    margin: 0 10px;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #2200aa;
}

.links-grid a {
    color: #3300ff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.links-grid a:hover {
    color: #2200aa;
}
